HW6/K*
HW5/model_linear/
HW5/model_poly/
*gitignore
*.so.2
*.out
*.ipynb
*.pdf
input.txt
run.sh
*.o
*.csv
*DS_Store
*.txt
simple
.ipynb_checkpoints/
.vscode/
HW1_input/
HW2_input/
libsvm-3.23/
spectra-0.6.2.tar
eigen-eigen-5a0156e40feb.tar
eigen-eigen-5a0156e40feb/
spectra-0.6.2/
HW5_0756703.zip
HW5_0756703/
